@font-face {
  font-family: myfont;
  src: url("_Inter-VariableFont_slnt,wght.ttf");
}

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e7e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: myfont;
  font-size: 20px;
  color: var(--nord0);
  background: var(--nord6);
}

ul {
  padding: 0 1rem;
  list-style-position: inside;
  list-style-type: circle;
}

#qa {
  min-height: 450px;
  max-width: 550px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  background: #fff;
  padding: 1.5rem 1.25rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.definition {
  font-size: 1.1em;
}

.class {
  padding: 4px 6px;
  border-radius: 4px;
  color: var(--nord6);
  background: var(--nord7);
}

.image-container img {
  max-width: 75%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
}

.example {
  color: var(--nord1);
  max-width: 100%;
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--nord4);
  border: none;
  margin: 0.5rem 0;
}

.pronunciation {
  color: var(--nord2);
}

#typeans {
  font-family: serif !important;
  font-size: 2.5rem !important;
  font-weight: bold;
  width: 400px;
  color: var(--nord0);
  padding: 8px 12px;
  text-align: center;
  border: 1px solid var(--nord7);
  border-radius: 4px;
}

#typeans:focus {
  outline: 1px solid var(--nord8);
}

.synonyms,
.antonyms {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.synonym,
.antonym {
  padding: 4px 6px;
  border-radius: 4px;
}

.synonym,
.typeGood {
  color: var(--nord6);
  background: var(--nord14);
}

.antonym,
.typeBad {
  color: var(--nord6);
  background: var(--nord11);
}

.typeMissed {
  color: var(--nord6);
  background: var(--nord3);
}

.typearrow {
  color: var(--nord3);
}

.example:empty,
.class:empty,
.image-container:empty,
.pronunciation:empty,
.synonyms:empty,
.synonyms:empty {
  display: none;
}
